# User defined function which takes 2 input

In [2]:
def combine(a,b):
    c = a + b
    return c

In [3]:
combine(2,6)

8

In [6]:
combine("iNeuron"," Class")

'iNeuron Class'

# User defined function that takes any number of input and gives same as output

In [7]:
def fun(*args):
    return args

In [8]:
fun(1,2,3)

(1, 2, 3)

In [13]:
fun("2")

('2',)

Always output is tuple

To convert it into list

In [14]:
def fun(*args):
    return list(args)

In [15]:
fun(543,5435,32)

[543, 5435, 32]

# User defined function that takes any number of input as a variable name along with its values to make a dictionary

In [17]:
def dit(**arg) : 
    return arg

In [18]:
dit(a=9,b=7,c=[455,"fdsd"])

{'a': 9, 'b': 7, 'c': [455, 'fdsd']}

# Function inside a function

In [21]:
def test1(a) : 
    print("Program to check first name and last name") 
    
    def test2() :
        print("This is my first name") 
    
    def test3():
        print("This is my last name")
    
    if a == "Remya":
        return test2()
    elif a == "RS" :
        return test3()

In [23]:
test1("Remya")

Program to check first name and last name
This is my first name

In [25]:
test1("RS")

Program to check first name and last name
This is my last name

# Importance of return compared to print

In [29]:
def test4():
    a = 6
    b = 7
    c = a+b
    return c

In [30]:
test4()

13

In [31]:
test4()+5

18

In [32]:
def test5():
    a = 6
    b = 7
    c = a+b
    print(c)

In [33]:
test5()

13

In [35]:
test5()+5

13

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

# Using decorator function

In [47]:
def test6(func):
    def test7(a,b):
        func(a,b)
        print("This is my decorator function")
        return func(a,b)
    return test7

In [48]:
@test6
def test8(a,b):
    return a+b

In [49]:
test8(7,8)

This is my decorator function

15

In [54]:
def test6(func):
    def test7(*arg,**karg):
        func(*arg,**karg)
        print("This is my decorator function")
        return func(*arg,**karg)
    return test7

In [55]:
@test6 # its wraper
def test8(a,b):
    return a+b

In [56]:
test8(7,8)

This is my decorator function

15

In [57]:
test8("Remya ","R S")

This is my decorator function

'Remya R S'

# Lambda function

Used for making simple logic only

For one line function

In [58]:
c = lambda a,b:a+b
c(6,9)

15

In [60]:
d = lambda a,b,c: a+b/c
d(8,10,2)

13.0

# Map Function

In [62]:
l = [1,2,3,4,5,6,7]
# To make a list whose elements will be 10 + elements of list l

def testm(a):
    return a+10

list(map(testm, l))# To do one to one mapping of function testm with data input l,   then list is used to make list out of it

[11, 12, 13, 14, 15, 16, 17]

other way

In [63]:
l = [1,2,3,4,5,6,7]
# To make a list whose elements will be 10 + elements of list l

d = lambda a: a+10

list(map(d, l))# To do one to one mapping of function testm with data input l,   then list is used to make list out of it

[11, 12, 13, 14, 15, 16, 17]

In [65]:
l = ["shf","shfjd","asdfias"]
# To make all elements in list to uppercase
e = lambda a:a.upper()
list(map(e,l))

['SHF', 'SHFJD', 'ASDFIAS']

# Filter Function

In [66]:
l = [1,7,4,3,8,2]
l1=[]
for i in l:
    if i%2==0:
       l1.append(i)

In [67]:
l1

[4, 8, 2]

In [68]:
a = lambda a:a if a%2==0 else None

list(filter(a,l))

[4, 8, 2]

In [69]:
def testf(i):
    if i%2==0:
        return True
    else:
        return False

In [70]:
list(filter(testf,l))

[4, 8, 2]

# Reduce Function

In [74]:
l=[2,5,3,7,9,8]
#using reduce fuction multiply elements of list
from functools import reduce
reduce(lambda a,b:a*b,l)

15120